@tailwind base;
@tailwind components;
@tailwind utilities;

.border-gradient-nlw {
  border-top: 4px solid transparent;
  border-radius: 8px;
  background: linear-gradient(to right, #2a2634, #2a2634), linear-gradient(90deg, #9572fc, #43e7ad 50%, #e1d55d 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}
input[type="time"] {
  text-align: center;
}
